Repository alefmanvladimir/BigFiles, pull requests merged in 2023-10, with the labels that each got.

#7 Storage Backend initial implementation
  package-lock.json
  ton-drive-backend/.env.winexample
  ton-drive-backend/README.md
  ton-drive-backend/package.json
  ton-drive-backend/src/app.controller.ts
  ton-drive-backend/src/app.module.ts
  ton-drive-backend/src/ton-storage.service.spec.ts
  ton-drive-backend/src/ton-storage.service.ts
  ton-drive-backend/test/app.e2e-spec.ts
  ton-drive-contracts/.env.test
  ton-drive-contracts/scripts/testStorage.ts
Labels: hacktoberfest, hack-ton-berfest, backend

#8 Develop file listing interface with react
  .vscode/extensions.json
  package-lock.json
  ton-drive-frontend/index.html
  ton-drive-frontend/package.json
  ton-drive-frontend/postcss.config.js
  ton-drive-frontend/public/drive.svg
  ton-drive-frontend/public/vite.svg
  ton-drive-frontend/src/App.tsx
  ton-drive-frontend/src/entities/file/model/TonStorageFile.ts
  ton-drive-frontend/src/entities/file/ui/FileDate.tsx
  ton-drive-frontend/src/entities/file/ui/FileSize.tsx
  ton-drive-frontend/src/entities/file/ui/FileTypeIcon.tsx
  ton-drive-frontend/src/entities/file/ui/FilesList.tsx
  ton-drive-frontend/src/entities/file/ui/FilesListItem.tsx
  ton-drive-frontend/src/features/demo/contracts/counter.ts
  ton-drive-frontend/src/features/demo/contracts/faucetJetton.ts
  ton-drive-frontend/src/features/demo/contracts/faucetJettonWallet.ts
  ton-drive-frontend/src/features/demo/hooks/useCounterContract.ts
  ton-drive-frontend/src/features/demo/hooks/useFaucetJettonContract.ts
  ton-drive-frontend/src/features/demo/ui/Counter.tsx
  ton-drive-frontend/src/features/demo/ui/Jetton.tsx
  ton-drive-frontend/src/features/demo/ui/TransferTon.tsx
  ton-drive-frontend/src/features/file/ui/FilesListWithActions.tsx
  ton-drive-frontend/src/features/file/ui/FilesSearchBox.tsx
  ton-drive-frontend/src/features/file/ui/FilesSortControls.tsx
  ton-drive-frontend/src/index.css
  ton-drive-frontend/src/pages/DemoPage.tsx
  ton-drive-frontend/src/pages/FilesListPage.tsx
  ton-drive-frontend/src/shared/hooks/useAsyncInitialize.ts
  ton-drive-frontend/src/shared/hooks/useTonClient.ts
  ton-drive-frontend/src/shared/hooks/useTonConnect.ts
  ton-drive-frontend/src/shared/ui/styled.tsx
  ton-drive-frontend/src/widgets/FilesNavigation.tsx
  ton-drive-frontend/src/widgets/hooks/useUserFiles.ts
  ton-drive-frontend/tailwind.config.js
Labels: hacktoberfest, hack-ton-berfest, frontend

#11 10 Implement docker script for backend deployment
  .gitignore
  nginx-proxy/.env_letsencrypt_example
  nginx-proxy/docker-compose.yml
  package-lock.json
  ton-drive-backend/.dockerignore
  ton-drive-backend/.env.winexample
  ton-drive-backend/.env_example
  ton-drive-backend/.gitignore
  ton-drive-backend/Dockerfile
  ton-drive-backend/Dockerfile.nginx
  ton-drive-backend/Dockerfile.ton-storage
  ton-drive-backend/docker-compose.local.yaml
  ton-drive-backend/docker-compose.yaml
  ton-drive-backend/nginx/nginx.conf
  ton-drive-backend/package.json
  ton-drive-backend/src/app.controller.ts
  ton-drive-backend/src/app.module.ts
  ton-drive-backend/src/main.ts
  ton-drive-backend/src/ton-storage.service.ts
  ton-drive-frontend/.env_example
  ton-drive-frontend/.gitignore
  ton-drive-frontend/docker-compose.yml
  ton-drive-frontend/src/pages/FilesListPage.tsx
  ton-drive-frontend/src/widgets/FileUpload.tsx
  ton-drive-frontend/web-app/Dockerfile
  ton-drive-frontend/web-app/nginx/nginx.conf
Labels: hacktoberfest, hack-ton-berfest

#19 Fix manifest URL, beautify drive info
  ton-drive-contracts/.gitignore
  ton-drive-contracts/build/TonDriveMaster/tact_TonDriveMaster.ts
  ton-drive-contracts/build/TonDriveMaster/tact_TonDriveUserCollection.ts
  ton-drive-contracts/build/TonDriveUserCollection/tact_TonDriveUserCollection.ts
  ton-drive-frontend/package.json
  ton-drive-frontend/src/main.tsx
  ton-drive-frontend/src/pages/FilesListPage.tsx
  ton-drive-frontend/src/services/FilesService.ts
  ton-drive-frontend/src/widgets/DriveInfo.tsx
Labels: frontend

#23 Beautify frontend
  ton-drive-frontend/src/App.tsx
  ton-drive-frontend/src/entities/file/ui/FilesListItem.tsx
  ton-drive-frontend/src/features/drive/hook/useCollectionInfo.ts
  ton-drive-frontend/src/features/drive/hook/useMyCollection.ts
  ton-drive-frontend/src/features/drive/ui/RequireUserDrive.tsx
  ton-drive-frontend/src/features/file/api/uploadFile.ts
  ton-drive-frontend/src/features/file/hooks/useUserFiles.ts
  ton-drive-frontend/src/features/file/ui/FilesListWithActions.tsx
  ton-drive-frontend/src/features/file/ui/FilesSearchBox.tsx
  ton-drive-frontend/src/features/file/ui/FilesSortControls.tsx
  ton-drive-frontend/src/pages/FilesListPage.tsx
  ton-drive-frontend/src/shared/hooks/useRealtimeRemoteState.ts
  ton-drive-frontend/src/shared/ui/ContractLink.tsx
  ton-drive-frontend/src/widgets/DriveInfo.tsx
  ton-drive-frontend/src/widgets/DriveInfoCard.tsx
  ton-drive-frontend/src/widgets/FileUpload.tsx
  ton-drive-frontend/src/widgets/FileUploadCard.tsx
  ton-drive-frontend/src/widgets/FilesNavigation.tsx
  ton-drive-frontend/src/widgets/FilesNavigationCard.tsx
  ton-drive-frontend/src/widgets/hooks/useCollectionInfo.ts
  ton-drive-frontend/src/widgets/hooks/useUserFiles.ts
  ton-drive-frontend/src/widgets/hooks/useUserFilesWithControls.ts
Labels: frontend

#26 Beautify layout
  ton-drive-frontend/src/App.tsx
  ton-drive-frontend/src/entities/file/ui/ExpandedFilesList.tsx
  ton-drive-frontend/src/entities/file/ui/ExpandedFilesListItem.tsx
  ton-drive-frontend/src/entities/file/ui/FileModal.tsx
  ton-drive-frontend/src/entities/file/ui/FileTypeIcon.tsx
  ton-drive-frontend/src/entities/file/ui/FilesTable.tsx
  ton-drive-frontend/src/entities/file/ui/FilesTableRow.tsx
  ton-drive-frontend/src/entities/file/utils/createDownloadLink.ts
  ton-drive-frontend/src/entities/file/utils/splitFileName.ts
  ton-drive-frontend/src/features/file/hooks/useUserFiles.ts
  ton-drive-frontend/src/features/file/ui/ExpandedFilesListWithActions.tsx
  ton-drive-frontend/src/features/file/ui/FileModalWithActions.tsx
  ton-drive-frontend/src/pages/DriveDashboard.tsx
  ton-drive-frontend/src/pages/FilesListPage.tsx
  ton-drive-frontend/src/widgets/DriveInfoCard.tsx
  ton-drive-frontend/src/widgets/FileUploadCard.tsx
  ton-drive-frontend/src/widgets/FilesNavigation.tsx
  ton-drive-frontend/src/widgets/FilesNavigationCard.tsx
Labels: frontend
